flask
flask-sqlalchemy
psycopg2-binary
ultralytics
opencv-python-headless
easyocr
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
thefuzz
python-Levenshtein
